@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-art-bg: #F5EFEB;
  --color-art-text: #421404; /* RUST */
  --color-art-green: #562C1E; /* MAHOGANY */
  --color-art-orange: #C16804; /* FIRE */
  --color-art-section: #D3B49F; /* CLAY */
  --color-art-cider: #8C522D;
  --color-art-burnt: #903500;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-art-bg text-art-text font-sans;
}

.stroke-text {
  /* Removed stroke as requested to make text neat */
}
